[Desktop Entry]
Version=1.0
Name=Bluefish Editor
Name[ca]=Editor Bluefish
Name[cs]=Editor Bluefish
Name[da]=Bluefish Redigeringsprogram
Name[de]=Bluefish Editor
Name[es]=Editor Bluefish
Name[eu]=Bluefish editorea
Name[fr]=Éditeur Bluefish
Name[gl]=Editor Bluefish
Name[hu]=Bluefish szerkesztő
Name[it]=Editor Bluefish
Name[ja]=Bluefish エディタ
Name[ko]=Bluefish 편집기
Name[nb]=Bluefish skriveprogram
Name[nl]=Bluefish Editor
Name[nn]=Bluefish skriveprogram
Name[pl]=Edytor Bluefish
Name[pt_BR]=Bluefish Editor
Name[ro]=Editorul Bluefish
Name[ru]=Веб-редактор Bluefish
Name[sk]=Bluefish editor
Name[uk]=Редактор Bluefish
Name[zh_CN]=Bluefish 编辑器
Comment=Web Development Editor
Comment[ca]=Editor de Desenvolupament Web
Comment[cs]=Editor pro vývojáře webů
Comment[da]=Redigeringsprogram til webudvikling
Comment[de]=Webentwicklungseditor
Comment[es]=Editor de desarrollo web
Comment[eu]=Web garapenerako editorea
Comment[fr]=Éditeur de développement web
Comment[gl]=Editor de Desenvolvemento de sitios Web
Comment[hu]=A webfejlesztők szerkesztője
Comment[it]=Editor di Sviluppo Web
Comment[ja]=ウェブ開発エディタ
Comment[ko]=웹 개발 편집기
Comment[nb]=Skriveprogram for nettsideutvikling
Comment[nl]=Web Ontwikkeling Editor
Comment[nn]=Skriveprogram for nettsideutvikling
Comment[pl]=Edytor stron www
Comment[pt_BR]=Editor de Desenvolvimento Web
Comment[ru]=Редактор для веб-разработки
Comment[uk]=Редактор для веб-розробки
Comment[zh_CN]=网页开发编辑器
Keywords=programming;code;html;php;python;
Keywords[ca]=programació;codi;html;php;python;
Keywords[de]=Programmierung;Code;HTML;PHP;Python;
Keywords[es]=programación;código;html;php;python
Keywords[eu]=programazioa;kodea;html;php;python;
Keywords[fr]=programmation;code;html;php;python;
Keywords[gl]=programando;código;html;php;python;
Keywords[hu]=programozás;kódolás;html;php;python;
Keywords[it]=programmazione;codice;html;php;python;
Keywords[ja]=プログラミング;コード;HTML;PHP;Python;
Keywords[nb]=programmering;kode;html;php;python;
Keywords[nl]=programming;code;html;php;python;
Keywords[nn]=programming;code;html;php;python;
Keywords[pl]=programowanie;kod;html;php;python;
Keywords[ru]=programming;code;html;php;python;
Keywords[uk]=програмування;код;html;php;python;
Keywords[zh_CN]=programming;code;html;php;python;
Exec=bluefish %F
Icon=HOME/local/share/pixmaps/bluefish.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Development;WebDevelopment;
MimeType=text/html;text/css;text/x-javascript;text/x-python;text/x-perl;application/x-php;text/x-java;text/javascript;text/x-php;application/x-cgi;application/x-javascript;application/x-perl;application/x-python;application/xhtml+xml;text/mathml;text/x-csrc;text/x-chdr;text/x-dtd;text/x-sql;text/xml;application/x-bluefish-project;
