[Desktop Entry]
Name=freemind
Comment=Free mind mapping software
Exec=HOME/local/bin/freemind
Terminal=false
Type=Application
Icon=HOME/local/share/icons/hicolor/32x32/apps/freemind.png
MimeType=application/x-freemind;text/x-troff-mm;
Categories=Office;
X-Desktop-File-Install-Version=0.19
