[Desktop Entry]
Name=LyX
GenericName=Structured Word Processor
Comment=WYSIWYM (What You See Is What You Mean) word processor with LaTeX output
Exec=HOME/local/bin/lyx
Icon=HOME/local/share/lyx/images/lyx.svg

MimeType=application/x-lyx;text/x-lyx;
Type=Application
Encoding=UTF-8
Categories=Office;WordProcessor;

X-Desktop-File-Install-Version=0.19
